/* My Styles */
.roster {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-flow: dense;
}

.roster figure, 
.roster img {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50px;
}
.roster img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.roster figure {
  position: relative;
} 

.roster figcaption {
  font-size: 1.5em;
  color: white;
  background: rgba(0, 0, 0, 0.46);
  
  position: absolute;
  bottom: 0; 
  left: 15px;
  width: 100%;
}